/*========== Grid ==========*/
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.content__container {
    gap: 2rem;
    padding: 2rem 0;
    align-items: flex-start;
}

.section {
    padding: var(--full-padding);
}

.full-width {
    width: 100%;
}

.flex__row {
    display: flex;
    flex-wrap: nowrap;
}

.flex__between {
    justify-content: space-between;
}

.flex__center {
    justify-content: center;
}

.flex__start {
    justify-content: flex-start;
}   

.flex__end {
    justify-content: flex-end;
}  

.flex__col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.grid {
  display: grid;
  place-items: center;
}

.grid--2 { grid-template-columns: repeat(2, 1fr); }
.grid--3 { grid-template-columns: repeat(3, 1fr); }
.grid--4 { grid-template-columns: repeat(4, 1fr); }

.text-center {
    text-align: center;
}