:root {
    --header-height: 120px;
    --border-radius: 8px;

    /*========== Colors ==========*/
    --header-color: #1E1E1E;
    --body-color: #121212;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #E0E0E0;
    --gray-color: #B3B3B3;
    --dark-gray-color: #2D2D2D;
    --button-hover-color: #2D2D2D;

    /*========== Font and typography ==========*/
    /*1rem = 10px*/
    --body-font: 'Helvetica', 'Arial', sans-serif;
    --biggest-font-size: 2.17rem;
    --bigger-font-size: 1.8rem;
    --big-font-size: 1.6rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1.4rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;
    --smallest-font-size: 1rem;

    /*========== Font weight ==========*/
    --font-small: 300;
    --font-medium: 400;
    --font-semi-bold: 500;

    /*========== z index ==========*/
    --z-fixed: 100;
}